html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-secondary);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 0;
  }
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-secondary);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 0;
  }
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: #ccc;
    border-radius: 5px;
    height: 5px;
  }
}
